
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.unico-marso{
background-color: #E6C140 !important;
}

body{
    background-color: #f2f2f2;
     font-family: Arial;
}

html,body{
    scroll-behavior: smooth;
}

/* navbar css */
.nav-item{
    margin-left: 53px;
}


.nav-link{
    font-size: 18px;

    color: #000000 !important;


    padding-bottom: 0;

    transition: 0.3s;
}

.navbar-brand:hover{
    animation-name: rotate;
    animation-duration: 1s;
}
@keyframes rotate {
    100%{
        transform: rotate(0deg);
    }

    0%{
        transform: rotate(360deg);
    }

}

.mainhead{
    display: flex !important;
    align-items: center !important;

    padding-top: 0;
}

/* header */
.header-text{
    display: flex;
    justify-content: center;
}
.top-text h1{
    font-family: 'Vela Sans';
font-style: normal;
font-weight: 800;
font-size: 124px;
}
.top-text h3{
    font-family: 'Vela Sans';
font-style: normal;
font-weight: 400;
font-size: 40px;
text-align: center;
}
@media screen and (max-width:426px) {
    .top-text h1{
      font-size: 80px;
    }
}
/* .header-image */
.top-image{
    padding-top: 90px;
}





/* text start */
.bottomText{
    display: flex;
    justify-content: end;
}


.imgBottom{
    display: flex;
    flex-direction: column;
    justify-content: end;
}


.imgBottom h1{
    font-size: 62px;
    font-weight: bolder;
}


.imgBottom p{
    width: 38vw;

    font-size: 20px;
    font-weight: 500;
}




@media (max-width:1024px) {
.imgBottom h1{font-size: 50px;}
.imgBottom p{width: 50vw;}
}

@media (max-width:768px) {
.imgBottom h1{font-size: 40px;}
.imgBottom p{width: 60vw;}
.foot-link, .foot-link i{font-size: 1.2rem;}
}


@media (max-width:680px){
.moody-main-md{display: block;}
.moody-main{display: none;}
.bottomText{justify-content: start;}
}


@media (max-width:375px){
    .imgBottom p{width: 100vw;}
    
}
/* text end */

/* boxes */
.box{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.flex-container-2{
    display: flex;
    justify-content: center;
    flex-direction: column;


}
.star{
    border: 1px solid black;
}
.flexbox h1{
    font-family: Arial;
    display: flex;
    align-items: center;
    font-size: 20px;
}
.flexbox h3{
    font-family: Arial;
    text-align: center;
}
.box-1 h3{
    font-size: 12px;
}
.flexbox{
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    width: 400px;
    height: 130px;
    margin: 15px;
     overflow-y: hidden ;
   background-color: rgb(255, 255, 255);
}
@media screen and (max-width:376px){
    .flexbox{
      max-width: 300px;
    }
}
@media screen and (max-width:321px){
    .flexbox{
      max-width: 280px;
    }
}
@media screen and (max-width:426px){
.box{
    display: flex;
    flex-direction: column;
}

}

@media screen and (max-width:769px) {
      .flexbox h1{
        font-size: 20px;
      }
    .flexbox{
        width: 350px;
        display: flex;
        justify-content: center;
    }
}
/* boxes end */



.block-5-2{
padding-top: 70px;
}

.block-6{
 padding-top: 50px;
}

/* bottom arrow css */
.bottom-arrow{
    padding-top: 40px;
    display: flex;
    justify-content: center;
}